[project]
	description = Program that controls multiple turnouts, including frog control.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Geoffrey Thomas (geoff-coppertop)
[access "refs/for/refs/*"]
	read = group user/Geoffrey Thomas (geoff-coppertop)
	push = group user/Geoffrey Thomas (geoff-coppertop)
	label-Code-Review = -2..+2 group user/Geoffrey Thomas (geoff-coppertop)
	label-Verified = -1..+1 group user/Geoffrey Thomas (geoff-coppertop)
	rebase = group user/Geoffrey Thomas (geoff-coppertop)
	removeReviewer = group user/Geoffrey Thomas (geoff-coppertop)
	submit = group user/Geoffrey Thomas (geoff-coppertop)
[access "refs/heads/*"]
	read = group user/Geoffrey Thomas (geoff-coppertop)
	create = group user/Geoffrey Thomas (geoff-coppertop)
	push = +force group user/Geoffrey Thomas (geoff-coppertop)
	pushMerge = group user/Geoffrey Thomas (geoff-coppertop)
[access "refs/tags/*"]
	push = group user/Geoffrey Thomas (geoff-coppertop)
	push = +force group user/Geoffrey Thomas (geoff-coppertop)
