codecov==2.0.15
PCA9685-driver==1.2.0; sys_platform == 'linux'
pytest==3.4.0
pytest-cov==2.5.1
pytest-mock==1.7.1
pytest-osxnotify==0.1.7; sys_platform == 'darwin'
pytest-sugar==0.9.1
pytest-xdist==1.22.2
transitions==0.6.4